*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    --color1: #fff ;
    --color2: #080808 ;
    background: #080808;
    background-size: cover;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: #ffffff;
}
.header-text h1{
    font-size: 60px;
    color: #ffffff;
}
.container{
    padding: 10px 10%;
}
ul{
    list-style-type: none;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #080808;
    box-shadow: 0.3px 5px rgba(0, 0, 0, 0.1); 
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img{width: 150px;}
.menu{display: flex;}
.menu li{padding-left: 30px;}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after{width: 100%;}
.open-menu, .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check {display: none;}
/* about */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    padding: 50px;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
/* skills */
.skills {
	max-width: 68.75rem;
	margin: auto;
	text-align: center;
	margin-top: 2.5rem;	
}
.skills-wrapper img{
	padding: 1.25rem;
}
.icon {
	width: 11.875rem;
	height: 11.25rem;
}
.icon-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 3px 10px #ffffff;
	padding: 20px;
	margin: 10px;
}
/* project */
#project{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.sub-titles{
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}
/* contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color: #ffffff;
}
.contact-left p i{
    color: #ffffff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ffffff;
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    background: #ffffff;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* footer */
#footer {
	background-color: #262626;
	color: #fff;
	padding: 1.25rem;
	text-align: center;
	margin: 2rem 0 0;
}
.ov {
	background-color: black;
	border-top: 4px solid white;
	font-size: 20px;
	text-align: center;
}

.ov p {
	color: white;
}
@media(max-width: 610px){
    .header-text{
        margin-top: 60%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 40px;
    }
    nav {
		padding: 1.5rem;
	}
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu, .close-menu{display: block;}
    #check:checked ~ .menu{right: 0;}
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .icon {
		width: 5.875rem;
		height: 5.25rem;
	}
}